<div class="wrapper">

  <div class="grid-container" [ngClass]="{ 'disabled': !isLoggedIn }">
    
    <div class="placeholder-1" (click)="isLoggedIn ? rutear('/juegos/ahorcado') : null">
      <div class="description">
        <h2>Ahorcado</h2>
        <p>Descubre la palabra oculta antes de agotar los intentos!</p>
      </div>
    </div>

    <div class="placeholder-2" (click)="isLoggedIn ? rutear('/juegos/mayormenor') : null">
      <div class="description">
        <h2>Mayor o Menor</h2>
        <p>Calcula y arriesga el contenido de la siguiente carta y compite por el mayor puntaje!</p>
      </div>
    </div>

    <div class="placeholder-3" (click)="isLoggedIn ? rutear('/juegos/preguntados') : null">
      <div class="description">
        <h2>Preguntados</h2>
        <p>Poné a prueba tu conocimiento sobre Pokemon y adivina los nombres de todos!</p>
      </div>
    </div>

    <div class="placeholder-4" (click)="isLoggedIn ? rutear('/juegos/sudoku') : null">
      <div class="description">
        <h2>Simon</h2>
        <p>Poné a prueba tu memoria e intenta conseguir el mejor puntaje! </p>
      </div>
    </div>

  </div>

  <!-- Mostrar mensaje si no está logueado -->
  <div class="modal"*ngIf="!isLoggedIn" >
    <div class="modal-content">
        <h4> Debes iniciar sesión para jugar a los juegos.</h4>
    </div>
  </div>
</div>
