<div class="about-container">
    <div class="about-card">
      <img class="about-photo" src="about-me.png" alt="Your Photo">
      <div class="about-text">
        <h1>Javier Fernandez</h1>
        <p>
          30 años, Apasionado por el desarrollo. Cursando las ultimas materias de la Tecnicatura en Programación en UTN FRA.
        </p>
        <p>
          Actualmente trabajo como Support Engineer en la industria de ad-tech. Invierto mi (poco) tiempo libre para dedicarme a la musica y a la lectura
        </p>
          <p style="font-weight: bold; text-decoration: underline;"> Instrucciones para el juego Simon </p> <p> Simon es un juego para ejercitar tu memoria. Basado en el juego inventado por Ralph Baer y Howard J. Morrison en 1978, deberás memorizar la secuencia aleatoria que se te muestra en pantalla para luego repetirla clickeando en los colores correspondientes. La secuencia se irá incrementando de a un color a la vez, permitiendote acumular puntos por cada secuencia correcta. El juego terminará cuando te equivques en la reproducción de la secuencia que te fue mostrada.
        </p>
      </div>
    </div>

  </div>